.header{
    .home{hover=red
        float: left: width: ;;
        padding: 34ch; float: left;
    margin-left;62px
    margin-top;27px
    font-size;14px
    }
    .about{
     hover=red   
    padding: 20px ;
    float: left;
    margin-left;62px
    margin-top;27px
    font-size;14px
    }
    service{
        hover=red
        float:left:10px ;margin-left;62px
    margin-top;27px
    font-size;14px
    }
}
.MENU{
    .LOGO{
    color: rgba(128, 255, 0, 0.514);
    float: middle;

    }
}